{% extends 'base.html' %}

{% block content %}

    <div class="site-wrap">
  
      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      
  
  
  
      <div class="site-section"  data-aos="fade">
        <div class="container-fluid">
  
          <div class="row justify-content-center">
  
            <div class="col-md-7">
              <div class="row mb-5">
                <div class="col-12 ">
                  <h2 class="site-section-heading text-center">About Me</h2>
                </div>
              </div>
            </div>
  
          </div>
          
          <div class="row mb-5">
            <div class="col-md-7">
              <img src="../static/images/about-ada.jpg" alt="Images" class="img-fluid">
            </div>
            <div class="col-md-4 ml-auto">
              <h3 class="text-white">Behind The Camera</h3>
              <p>The goal is to share my love for art. Photography and Film are two of my biggest passion. With this website, You all will be able to experience this "passion" with me</p>
              <p>I have documented the faces I've seen, places I've been and cultures I've experienced. I also infused my favorite phrase from known writers below every image. Each phrase is what inspired each photo concept. I would hope one can see the relationship between the "words" and the "pictures" because I believe the sigular phrase means different from the singular photo, but when both are observed together, it ignites a whole different emotion</p>
              <p>In the light of the pandemic, my creative outlet has been limited. I hope to change this significantly and explore a whole new aspect of photography.</p>
            </div>
          </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5">
              <img src="../static/images/hello-ada.jpg" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
              <h2 class="text-black font-weight-light mb-4">Adanna Eleje</h2>
              <p class="mb-4">I am a Nigerian American photographer, film editor and videographer. I studied film production and International Economics for my Undergrad in Boston. In my free time I love to go to the skatepark and travel to new places.  </p>
            </div>
  
      <div class="footer py-4">
        <div class="container-fluid text-center">
          <p>
             <!-- COPYRIGHT -->
          Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart-o" aria-hidden="true"></i> Adanna Eleje</a>
          <!-- COPYRIGHT -->
          </p>
        </div>
      </div>
      
    </div>
  
  {% endblock content %}