{% extends 'base.html' %}

{% block content %}

<div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
        </div>
      </div>
      
    </header>

<!--body-->
<h3><p><i>“when you take a photograph of someone, you take a portrait of their soul”</i></p>
  <p> -Winna Efendi</p></h3>

    <div class="container-fluid" data-aos="fade" data-aos-delay="500">
      <div class="row">
        <div class="col-lg-4">

          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3"></h2>
            </div>
            <img src="../static/images/flowers.jpg" alt="Image" class="img-fluid">
          </div>

        </div>
        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3"></h2>
            </div>
            <img src="../static/images/ppl.jpg" alt="Image" class="img-fluid">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3"></h2>
            </div>
            <img src="../static/images/ppl-1.jpg" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-4">
          <div class="image-wrap-2">
            <div class="image-info">
              <h2 class="mb-3"></h2>
            </div>
            <img src="../static/images/ppl-2.jpg" alt="Image" class="img-fluid">
          </div>
        </div>
        
      </div>
    </div>
<!--footer-->
    <div class="footer py-4">
      <div class="container-fluid text-center">
        <p>
          <!-- COPYRIGHT -->
          Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart-o" aria-hidden="true"></i> Adanna Eleje </a>
          <!-- COPYRIGHT -->
        </p>
      </div>
    </div> 
  </div>
  {% endblock content %}