{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

<div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
        </div>
      </div>
      
    </header>

    <div class="site-section"  data-aos="fade">
        <div class="container-fluid">
  
          <div class="row justify-content-center">
  
            <div class="col-md-7">
              <div class="row mb-5">
                <div class="col-12 ">
                  <h2 class="site-section-heading text-center">My Services</h2>
                </div>
              </div>
            </div>
  
          </div>
          
          <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
              <div class="h-100 p-4 p-lg-5 site-block-feature-7">
                <img src="../static/images/camera2.png" alt="Image" class="img-fluid mb-4 d-block" >
                <h3 class="text-white h4">Camera Rental</h3>
                <p>I currently use a Sony A7III, which is fantastic for not only photography but also shooting 4k videos.</p>
                <p> It has a 24MP sensor which offers excellent image quality; Outstanding high ISO performance and dynamic range.</p>
                <p><strong class="font-weight-bold text-primary">$100/hr</strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
              <div class="h-100 p-4 p-lg-5 site-block-feature-7">
                <img src="../static/images/portrait1.png" alt="Image" class="img-fluid mb-4 d-block" >
                <h3 class="text-white h4">Headshots</h3>
                <p>Headshots are used accross all job platforms, wether you are looking for a mainstreamoffice job,or you're in the entertainment industry, headshots are usually preferred.The quality of the headshots i offer are 100% worth it! </p>
                <p><strong class="font-weight-bold text-primary">$100</strong></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
              <div class="h-100 p-4 p-lg-5 site-block-feature-7">
                <img src="../static/images/studio.png" alt="Image" class="img-fluid mb-4 d-block" >
                <h3 class="text-white h4">Photo Sessions</h3>
                <p>I offer a reasonable price for set design sessions that offers uniqueness, and with the use of photoshop and lightroom, bring your set design to life. </p>
                <p><strong class="font-weight-bold text-primary">$100/hr</strong></p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-6 col-xl-4 text-center mb-5 mb-lg-5">
              <div class="h-100 p-4 p-lg-5 site-block-feature-7">
                <img src="../static/images/computer.png" alt="Image" class="img-fluid mb-4 d-block" >
                <h3 class="text-white h4">Video Editing</h3>
                <p>Along with my sony A7III, I use a gopro hero 7, mavic dji pro and osmo pocket in order to shoot videos and adobe premiere pro to edit</p>
                <p><strong class="font-weight-bold text-primary">$150</strong></p>
              </div>
            </div>
  
          </div>
        </div>
      </div>


<!--footer-->
<div class="footer py-4">
    <div class="container-fluid text-center">
      <p>
        <!-- COPYRIGHT -->
        Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart-o" aria-hidden="true"></i> Adanna Eleje </a>
        <!-- COPYRIGHT -->
      </p>
    </div>
  </div> 
</div>
{% endblock content %}