{% extends 'base.html' %}

{% block content %}

<h1>Sign In Here</h1>

<main class="container">
    <div class="row">
        <aside class="col-12 col-md-6">
            <h2>Sign In To Your Account</h2>
            <p>Sign in for all booking details and to make reservation changes</p>
            {% include 'form.html' %}
        </aside>
    </div>
</main>

<!--footer-->
<div class="footer py-4">
    <div class="container-fluid text-center">
      <p>
        <!-- COPYRIGHT -->
        Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-heart-o" aria-hidden="true"></i> Adanna Eleje </a>
        <!-- COPYRIGHT -->
      </p>
    </div>

{% endblock content %}